include *.txt *.rst
recursive-include pystraps *_tmpl *.txt
include pystraps/templates/_gitignore
include pystraps/templates/development.pip
include pystraps/templates/docs/Makefile
include pystraps/templates/docs/make.bat
include pystraps/templates/docs/source/_static/README
include pystraps/templates/docs/source/_templates/README